.internship-container {
    padding: 50px 10%;
    text-align: left;
    color: white;
}

.internship-grid {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.internship {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    text-align: left;
    display: flex;
    align-items: flex-start;
    gap: 30px;

    img {
        width: 250px;
        min-width: 250px;
        height: auto;
        object-fit: cover;
        border-radius: 8px;
    }
}

.internship-content {
    flex: 1;
}

.internship h2 {
    font-size: 1.8em;
    margin-top: 0;
}

.internship p {
    font-size: 1.2em;
}

@media screen {
    @media (max-width: 768px) {
        .internship {
            flex-direction: column;

            img {
                width: 100%;
                min-width: 100%;
            }
        }
    }
}
