.dark-mode .about-section {
    background-color: rgba(0, 0, 0, 0.2);
}

.about-section {
    display: flex;
    gap: 40px;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 15%;
    min-height: 700px;
    background-image: url("../images/bg-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* Content inside About Section */
.about-section .content {
    text-align: left;
    z-index: 2;

    .social_icons {
        display: flex;
        flex-direction: row;
        gap: 10px;
        color: white;

        svg {
            font-size: 1.8em;
        }
    }

    .mobile_social_icons {
        display: none;
    }

    /* Updated paragraph styles for better readability */
    p {
        font-size: 1.2em;  /* Reduced font size */
        line-height: 1.6;  /* Improved line spacing */
        color: #E0E0E0;    /* Light gray for better contrast */
        margin-bottom: 15px;
    }

    /* Updated heading styles */
    h1 {
        font-size: 3.5em; /* Reduced from 5em */
        font-weight: bold;
        margin-block-start: 0px;
        margin-block-end: 0px;
    }
}

.about-section .image-wrapper {
    z-index: 2;
    display: flex;
    justify-content: center;  /* Center image */
    align-items: center;
    flex-shrink: 0;  /* Don't shrink the image */
    img {
        width: 200px;
        height: 200px;  /* Ensure circular shape */
        border-radius: 50%;
        object-fit: cover;  /* Make sure the image fits well */
    }
}

/* About Section Styling */
.about p {
    text-align: center;
    font-size: 1.2em;
    padding-top: 10%; /* Reduced spacing */
    padding-bottom: 10%;
}

@media screen {
    /* Mobile Styling: Smaller Screens */
    @media (max-width: 567px) {
        .nav-left {
            padding-top: 20px;
            float: left;
        }

        .nav-left img {
            height: 35px;
        }

        .nav-right {
            float: right;
        }

        .nav-right li {
            padding: 10px 15px;
            list-style: none;
            font-size: 13px;
            color: white;
            width: 10%;
        }

        .nav-right ul {
            list-style-type: none;
            margin: 0px;
            padding: 0px;
        }

        body {
            width: 100%;
        }

        .about {
            padding-left: 5%;
            padding-right: 5%;
            font-size: 12px;
        }
    }

    /* Adjustments for tablets & smaller screens */
    @media (max-width: 768px) {
        .about-section h1 {
            font-size: 3em !important; /* Reduced heading size */
            text-align: left;
        }

        .about-section p {
            font-size: 1em; /* Adjusted paragraph size */
            text-align: left;
        }

        .container {
            display: initial;
        }

        .social_icons {
            display: none !important;
        }

        .mobile_social_icons {
            padding-top: 10px;
            display: flex !important;
            flex-direction: row;
            gap: 10px;
            color: white;
    
            svg {
                font-size: 1.5em;
            }
        }

        .about-section {
            padding-top: 120px;
            display: block;
            padding-left: 0px;
            padding-right: 0px;
        }

        .about-section .content {
            width: 90%;
            padding-left: 5%;
            padding-right: 5%;
            padding-bottom: 5%;
        }

        .about-section .image-wrapper {
            padding-left: 5%;
            width: 100%;
        }
    }
}
